<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="vstest.myget" value="https://dotnet.myget.org/F/vstest/api/v3/index.json" />
    <add key="nuint.myget" value="https://www.myget.org/F/nunit/api/v3/index.json" />
    <add key="xunit.myget" value="https://www.myget.org/F/xunit/api/v3/index.json" />
    <add key="mstest.myget" value="https://dotnet.myget.org/F/mstestv2/api/v3/index.json" />
    <add key="pdb2pdb.myget" value="https://dotnet.myget.org/F/symreader-converter/api/v3/index.json" />
    <add key="vsunittesting.myget" value="https://dotnet.myget.org/F/vsunittesting/api/v3/index.json" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <config>
    <!-- This path is relative as a workaround to https://github.com/NuGet/Home/issues/2831 -->
    <add key="globalPackagesFolder" value="packages" />
  </config>
</configuration>
