using System;
using NUnit.Framework;

namespace NUnitAdapterPerfTests
{

	public class NunitTests
    {
<#
	int passedTests = 10000;
	int failedTests = 0;
	String padding = "00";
	int count = 1;
	String testmethodprefix = "Test_";


#>

		#region PassingTests
<#
	for(int i=0;i<passedTests;i++)
	{
	String methodName= testmethodprefix + count.ToString(padding);
#>
		[Test]
		public void <#=methodName#>()
		{
		}
<#		
		count++;
	}
#>
		#endregion

		#region FailingTests
<#
	for(int i=0;i<failedTests;i++)
	{
	String methodName= testmethodprefix + count.ToString(padding);
#>
		[Test]
		public void <#=methodName#>()
		{
			Assert.Fail();
		}
<#		
		count++;
	}
#>
		#endregion
   	
    }
}
