using System;
using Xunit;

namespace UnitTestinProgress
{
    public class XUnitClass1
    {
<#
	int passedTests = 500;
	int failedTests = 500;
	String padding = "00";
	double timePerTest = 1.5; //in seconds
	int waitTime = (int)(timePerTest*1000);

	int count = 1;
	String Factprefix = "XUnit_P1_";


#>

		#region PassingTests
<#
	for(int i=0;i<passedTests;i++)
	{
	String methodName= Factprefix + count.ToString(padding);
#>
		[Fact]
		public void <#=methodName#>()
		{
			//System.Threading.Thread.Sleep(<#= waitTime #>);
			Assert.Equal(1, 1);
		}
<#		
		count++;
	}
#>
		#endregion

		#region FailingTests
<#
	for(int i=0;i<failedTests;i++)
	{
	String methodName= Factprefix + count.ToString(padding);
#>
		[Fact]
		public void <#=methodName#>()
		{
			//System.Threading.Thread.Sleep(<#= waitTime #>);
			Assert.Equal(1, 2);;
		}
<#		
		count++;
	}
#>
		#endregion
    }
}
