<?xml version="1.0" encoding="utf-8"?>
<!-- This file determines whether to use TestPlatform v1 or TestPlatform v2 for tests execution. -->
<configuration>
  <appSettings>
    <!-- Setting feature.net35 to "true" will execute full clr tests targeting framework <=v3.5 through TPV2. -->
    <add key="feature.net35" value="true" />
    <!-- Setting feature.net40 to "true" will execute full clr tests targeting framework >=4.0 through TPV2. -->
    <add key="feature.net40" value="true" />
    <!-- Setting feature.datacollector to "true"" will execute data collection (code coverage, etc.) through TPV2. -->
    <add key="feature.datacollector" value="true"/>
  </appSettings>
</configuration>
