<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <config>
    <!-- This path is relative as a workaround to https://github.com/NuGet/Home/issues/2831 -->
    <add key="../../globalPackagesFolder" value="packages" />
  </config>
  <disabledPackageSources />
</configuration>
