<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for test platform tests" Description="Code analysis rules for test projects." ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- XML documentation checks are not required for test projects -->
    <Rule Id="SA1652" Action="None" />

    <!-- Allow use of regions -->
    <Rule Id="SA1124" Action="None" />
  </Rules>
</RuleSet>
